.footer {
    background: #101010;
    padding: 15px 0;
    &__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__text {
        font-family: 'Rubik';
        font-weight: 300;
        font-size: 12px;
        line-height: 160%;
        color: #FFFFFF;
    }
}

@media (max-width: 1023px) {}

@media (max-width: 575px) {
    .footer {
        &__text {
            &:nth-child(1) {
                display: none;
            }
        }
    }
}