@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&family=Rubik:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}