@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&family=Rubik:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.title {
    font-family: 'Philosopher';
    font-weight: 400;
    font-size: 48px;
    line-height: 54px;
    &_bullet-inline {
        &::before {
            content: '•';
            font-size: 1.5em;
            line-height: 1.5em;
            position: relative;
            top: 0.1em;
            margin-right: 5px;
            color: inherit;
        }
    }
    &_bullet-absolute {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 0.313em;
            height: 0.313em;
            background-color: currentColor;
            top: 0.4em;
            left: -0.5em;
            border-radius: 100%;
        }
    }
}

@media (max-width: 1439px) {
    
}

@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 1023px) {
    .container {
        max-width: 730px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .title {
        font-size: 32px;
        line-height: 36px;
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
}

@media (max-width: 374px) {
    
}