.langs {
    padding: 60px 0 90px;
    background: url('../img/langs-shape.png') left center / contain no-repeat;
    &__banner {
        background: url('../img/langs-bg.jpg') center center / cover no-repeat;
        min-height: 550px;
        border-radius: 60px;
    }
    &__block {
        max-width: 580px;
        min-height: 480px;
        background: #314C60;
        border-radius: 60px 1000px 1000px 0px;
        padding: 84px 112px 77px 94px;
    }
    &__title {
        color: #FFFFFF;
        // padding-left: 30px;
        margin-left: 30px;
    }
    &__list {
        margin-top: 78px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        list-style-type: none;
        padding: 0;
        position: relative;
        li {
            font-family: 'Rubik';
            font-weight: 400;
            font-size: 18px;
            line-height: 140%;
            color: #FFFFFF;
            &:not(:last-child) {
                margin-right: 50px;
            }
        }
        &::before {
            position: absolute;
            content: url('../img/langs-elem.svg');
            bottom: -35px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__text {
        font-family: 'Rubik';
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        color: rgba(255, 255, 255, 0.5);
        margin-top: 94px;
    }
}

@media (max-width: 1023px) {
    .langs {
        &__block {
            max-width: 518px;
            min-height: 419px;
            padding: 60px 59px 50px 60px;
        }
    }
}

@media (max-width: 767px) {
    .langs {
        padding: 0;
        background: none;
        &__container {
            display: contents;
        }
        &__banner {
            display: flex;
            flex-direction: column;
            min-height: 628px;
            justify-content: flex-end;
        }
        &__block {
            min-height: auto;
        }
        &__title {
            br {
                display: none;
            }
        }
        &__list {
            margin-top: 60px;
            li {
                font-size: 16px;
            }
        }
        &__text {
            margin-top: 70px;
            font-size: 16px;
        }
    }
}

@media (max-width: 575px) {
    .langs {
        &__banner {
            background: url('../img/langs-bg-mob.jpg') left center / contain no-repeat;
        }
        &__block {
            padding: 42px 80px 55px 18px;
        }
        &__list {
            margin-top: 40px;
            li {
                font-size: 14px;
            }
        }
        &__text {
            font-size: 14px;
        }
    }
}