.mission {
    padding: 140px 0;
    background: url('../img/mission-bg.jpg') center bottom / cover no-repeat;
    &__row {
        display: flex;
    }
    &__block {
        min-height: 390px;
        padding: 60px 80px 100px 135px;
        border-radius: 0px 261px 261px 0px;
        &:nth-child(1) {
            color: #314C60;
            background: #E0E0E0;
            max-width: 600px;
            padding-left: 40px;
            padding-right: 140px;
            position: relative;
            &::before {
                position: absolute;
                content: '';
                width: 100vw;
                height: 100%;
                left: -100vw;
                top: 0;
                background: inherit;
            }
        }
        &:nth-child(2) {
            color: #ffffff;
            background: url('../img/mission-block-2.jpg') center center / cover no-repeat;
            margin-left: -200px;
            padding-left: 280px;
        }
    }
    &__title {
        font-family: 'Philosopher';
        font-weight: 400;
        font-size: 64px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 0.313em;
            height: 0.313em;
            background-color: currentColor;
            top: 0.4em;
            left: -0.5em;
            border-radius: 100%;
        }
    }
    &__text {
        font-family: 'Rubik';
        font-weight: 400;
        font-size: 18px;
        line-height: 140.9%;
        margin-top: 40px;
        padding-left: 60px;
    }
}

@media (max-width: 1199px) {
    .mission {
        &__text {
            font-size: 16px;
            padding-left: unset;
        }
        &__title {
            font-size: 58px;
        }
    }
}

@media (max-width: 1023px) {
    .mission {
        overflow: hidden;
        &__row {
            display: unset;
        }
        &__block {
            padding-top: 60px;
            padding-bottom: 80px;
            min-height: auto;
            max-width: 600px;
            &:nth-child(1) {
                color: #314C60;
                background: #E0E0E0;
                padding-left: 40px;
                padding-right: 120px;
            }
            &:nth-child(2) {
                margin-left: auto;
                padding-left: 40px;
                border-radius: 260px 0px 0px 260px;
                position: relative;
                text-align: right;
                padding-left: 120px;
                padding-right: 40px;
                &::before {
                    position: absolute;
                    content: '';
                    width: 100vw;
                    height: 100%;
                    right: -100vw;
                    top: 0;
                    background: inherit;
                }
                .mission__title {
                    width: fit-content;
                    margin-left: auto;
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .mission {
        padding: 130px 0;
        &__title {
            font-size: 32px;
        }
        &__block {
            padding-top: 36px;
            padding-bottom: 36px;
            &:nth-child(1) {
                padding-right: 45px;
                padding-left: 25px;
            }
            &:nth-child(2) {
                margin-top: 16px;
                padding-left: 45px;
                padding-right: 25px;
            }
        }
        &__text {
            margin-top: 20px;
            font-size: 12px;
            line-height: 140.9%;
        }
    }
}